



.sld {



  align-items: center;



  display: flex;



  height: 220px;



  justify-content: center;






  margin: auto;



  overflow: hidden;



  position: relative;



  width: 100%;



}



.sld .sldnp-track {



  animation: scroll 15s linear infinite;



  display: flex;



}



.sld .sldnp {



  height: 240px;



  width: 70%;



}

.sld img{



}





.sld:hover > div {



  animation-play-state: paused;



}



.sldnp img{



  opacity: 0.5;







}



.sldnp img:hover{



  opacity: 1;







}
@media only screen and (max-width: 900px) {
  
    .sld {
        height:auto;
    }
    .sld .sldnp{
            height: auto;
    width: 100%;
    }
}